.WeatherDetails {
  width: 1140px;
  margin: 0 auto;
  padding: 40px;
  opacity: 1;
  border-radius: 20px;
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
  margin-bottom: 200px;
  column-gap: 58px;
  row-gap: 40px;
  
}
.second{
  margin-bottom: 20px;
}
.WeatherDetails-minmax-top,.WeatherDetails-minmax-lowmid{
  margin-bottom: 10px;
}
.weather-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 290px;
  align-items: center;
  height: 217px;
  background: #d9d9d9;
  opacity: 1;
  border-radius: 10px;
}
.WeatherDetails-top {
  width: 75;
  height: 20;
  opacity: 1;
  top: 1305px;
  left: 335px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.WeatherDetails-mid {
  width: 96;
  height: 39;
  opacity: 1;
  top: 1335px;
  left: 324px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.WeatherDetails-image {
  width: 85px;
  height: 85px;
  opacity: 1;
  top: 1397px;
  left: 330px;
}
