.future {
  margin: 15px 150px;
  opacity: 1;
  background: #e8e8e8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 26px 70px;
}
.future-day {
  width: 118px;
  height: 20px;
}
.future-perdiction {
  width: 100%;
  border-radius: 10px;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  padding: 14px 50px;
}
.future-container{
  display: flex;
  align-items: center;
  column-gap: 13px;
}
.future-perdiction-image {
  max-width: 45px;
  max-height: 45px;
  flex-basis: 20%;
}
.future-perdiction-date{
  flex-basis: 10%;
}
.future-perdiction-explained{
  flex-basis: 10%;
}
