.footer {
  background-color: #ffb36c;
}
.footer-contact {
  display: flex;
}
.footer-contact-face {
  width: 40px;
  height: 40px;
}
.footer-contact-what {
  width: 40px;
  height: 40px;
}
.footer-contact-insta {
  width: 40px;
  height: 40px;
}
.footer-address {
  display: flex;
  width: 92;
  height: 75;
  opacity: 1;
}
