.footer {
  background-color: #ffb36c;
  padding: 40px 150px 64px 150px;
  display: flex;
  align-items: center;
  column-gap: 103px;
}
.footer-contact {
}
.footer-adress{
  margin-bottom: 10px;
}
.footer-contact-text{
  margin-bottom: 10px;
}
.footer-contact-container{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.footer-contact-container-icon {
  width: 40px;
  height: 40px;
}
.footer-address {
  font-weight: 500;
}
.footer-address-address {
  font-weight: 500;
  font-size: 12px;
}

